.card-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;

  &.mini {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.idea-card {
  .card-header {
    line-height: 1.4;
    padding-left: 0.75rem;

    h4 {
      margin-bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    addr {
      font-size: 0.75em;
      font-style: italic;
    }
  }
}

.member-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.comment-list {
  .list-group-item {
    p:last-child {
      margin-bottom: 0;

    }
  }
}
